.parallax-banner {
  height: 160vh;
}

.parallax-banner-class {
  aspect-ratio: 1.4;
}

@media all and (max-width: 1440px){
  .parallax-banner {
    height: 140vh;
  }
  .parallax-banner-class {
    aspect-ratio: 1.2;
  }
}


@media all and (max-width: 1300px){
  .parallax-banner-class {
    aspect-ratio: 1;
  }
}

@media all and (max-width: 1024px){
  .parallax-banner {
    height: 123vh;
  }
  .parallax-banner-class {
    aspect-ratio: 0.8;
  }
}
