.parallax-banner{
  -webkit-overflow-scrolling: touch !important;
}

.bottom {
  background-color: #190128;
  height: 50vw;
  margin-top: -10px;
}

.context-form-bottom {
  background-color: #190128;
  height: 800vh;
}

.parallax {
  background-size: cover;
  position: absolute;
  top: 0;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 80vw;
  height: 125vh;
}

.parallax-img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

.typing-text {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.typing-text .Typewriter__wrapper {
  color: #86198f;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Quattrocento', serif;
}

.logo{
  width: 12rem;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-in {
  animation: fadeIn 1s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@media all and (max-width: 1500px) {
  .parallax {
    height: 123vh;
  }
}

@media all and (max-width: 1300px) {
  .bottom {
    height: 65vh;
  }
}

@media all and (max-width: 767px) {
  .bottom {
    height: 70vh;
  }

  .parallax-img {
    object-position: 46% top;
  }

  .logo-banner{
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .typing-text .Typewriter__wrapper {
    font-size: 24px;
  }
}

@media all and (max-width: 500px) {
  .parallax-img {
    object-position: 60% top;
  }
  .parallax {
    height: 90vh;
  }
}

@media all and (max-width: 330px) {
  .bottom {
    height: 50vh;
  }
  .parallax {
    height: 105vh;
  }

  .typing-text .Typewriter__wrapper {
    font-size: 16px;
  }
}
